.c-co-main-search {
  background: #232f3f;
  padding: 2rem 0 1rem 0;

  .search {
    padding: 0 4rem;
    .navbar {
      flex-wrap: wrap;
      .search-logo {
        width: 15%;
      }
      .search-bar {
        width: 50%;
        margin-left: 1rem;
        display: flex;
        input {
          width: 85%;
          border: none;
          padding: 10px 21px;
          border-radius: 5px 0 0 5px;

          &::placeholder {
            font-weight: 400;
            font-size: 14px;
            line-height: 31px;
          }

          &:focus {
            outline: none;
          }
        }
        button {
          width: 15%;
          border: none;
          background: #cc4400;
          border-radius: 0 5px 5px 0;
          color: white;
          img {
            margin-right: 1rem;
          }
        }
      }
      .search-actions {
        width: 28%;
        &__list {
          padding: 0;
          list-style: none;
          margin: 0;
          align-items: flex-end;
          justify-content: flex-end;

          &-item {
            margin-left: 1.5rem;
            text-align: center;

            img {
              width: 30px;
            }

            p {
              margin: 0;
              color: rgba(255, 255, 255, 0.5);
            }
          }
        }
      }
    }
  }

  .filter {
    padding: 0 4rem;
    margin-top: 2rem;

    &-list {
      display: flex;
      list-style: none;
      align-items: center;
      padding: 0;

      &__item {
        color: white;
        margin-right: 2rem;
        cursor: pointer;

        &.catalogue {
          display: flex;
          align-items: center;
          padding: 10px 20px;
          background: #cc4400;
          border-radius: 5px;

          img {
            margin-right: 1rem;
          }
        }
      }
    }

    &-shipping {
      color: white;
      img {
        margin-left: 1rem;
      }
    }
  }
}
